<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dramelon - Arts</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <main class="page-shell">
        <section class="intro" id="overview">
            <h1>Me draw arts</h1>
            <p>A cozy spot to drop all me sketches and experiments :3</p>
        </section>

        <section>
            <h1></h1>
        </section>

        <section class="feature-card" id="gallery">
            
        </section>
    </main>
    <script src="../common/sidebar.js" data-sidebar-template="../common/sidebar.html" defer></script>
</body>

</html>
